{% extends 'base_generic.html' %}

{% block content %}
    <p>Name:</p>
    <p><strong> {{ user.username }} </strong></p>
    <ul>
    {% for book in book_list %}
        <li>
            <a href="{% url 'book-detail' book.pk %}">{{ book.book }}</a>
            {% if perms.myapp.can_edit_book %}
            <a href="{% url 'book-delete' book.pk %}">delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if perms.myapp.can_edit_book %}
    <a href="{% url 'book-create' %}">Add book</a>
    {% endif %}
{% endblock %}